<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> <!--<![endif]-->
    <head>
	
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui" />
	
	<base href="https://www.youandigraphics.com/" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Archit Gupta - Portfolio</title>
		<link href="https://www.youandigraphics.com/" rel="canonical" />
		
	<link rel="shortcut icon" href="https://www.youandigraphics.com/templates/youandigraphics/favicon.ico" type="image/vnd.microsoft.icon" />
	
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Youandigraphics - Web Design &amp; Branding studio"/>
	<meta property="og:site_name" content="Youandigraphics - Web Design &amp; Branding studio"/>
	<meta property="og:url" content="http://www.youandigraphics.com"/>
	<meta property="og:description" content="Youandigraphics is run by me, Irene Demetri, a web and graphic designer based in Athens Greece. I love being creative and working on projects such as website user interfaces and visual design for mobile applications amongst others."/>
	<meta property="og:image" content="http://www.youandigraphics.com/fb.jpg"/>
	
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,500,700' rel='stylesheet' type='text/css'>
		{% load static %}
	        <link rel="stylesheet" href="{% static 'css/index.min.css'%}">
	        <!--<link rel="stylesheet" href="https://www.youandigraphics.com/templates/youandigraphics/css/index.min.css">-->
    </head>
    <body class="option_com_content view_featured itemid_101">

	<section class="menuwrapper">
	    <nav id="mainmenu">
		<ul class="nav menu">
<li class="item-101 default current active"><a href="/" >Home</a></li><li class="item-102"><a href="/about-irene-demetri.html" >About</a></li><li class="item-103"><a href="/what-i-do-web-design-branding.html" >What I do</a></li><li class="item-104"><a href="/contact.html" >Contact</a></li></ul>

	    </nav>
	    <a href="#" class="sprite menutoggle kellum">menu</a>
	</section>
    
	<div class="wrapper">
	    
	    	    <section class="blocks clearfix">
		<div class="f-logo tc">
		    <a href="/" class="kellum">youandigraphics.com</a>
		</div>
		<div class="f-aboutme tc">
		    <a href="/about-irene-demetri.html">
			<span class="sprite icon-aboutme" role="img" aria-label="aboutme"></span>
			<div class="underline"><span>about me</span></div>
		    </a>
		</div>
		<div class="f-default"></div>
		<div class="f-socials">
		    <nav>
			<span>social love</span>
			<a href="https://twitter.com/youandigraphics" class="sprite tw external" title="follow me">twitter</a>
			<a href="callto://+306937150509" class="sprite sk external" title="skype me">skype</a>
			<a href="https://www.linkedin.com/pub/irene-demetri/a0/a4a/b81" class="sprite in external" title="connect with me">in</a>
		    </nav>
		</div>
		<div class="f-red upnleft tc">
		    <p>welcome<br />I am Irene Demetri<br />and this is my online<br />portfolio</p>
		</div>
		<div class="f-whatido tc">
		    <a href="/what-i-do-web-design-branding.html">
			<span class="sprite icon-whatido" role="img" aria-label="whatido"></span>
			<div class="rainbow"></div>
			<div class="underline"><span>what i do</span></div>
		    </a>
		</div>
		<div class="f-red downnright">
		    <p>let's create<br /> beautiful interactive<br />experiences<br />from start to finish</p>
		</div>
		<div class="f-pattern"></div>
		<div class="f-default"></div>
		<div class="f-pattern"></div>
		<div class="f-contactme">
		    <a href="/contact.html">
			<span class="sprite icon-contactme" role="img" aria-label="contactme"></span>
			<div class="underline"><span>contact me</span></div>
		    </a>
		</div>
		<div class="f-default"></div>
		
		<!-- tc -->
		<div class="f-contactme onlytc">
		    <a href="/contact.html">
			<span class="sprite icon-contactme" role="img" aria-label="contactme"></span>
			<div class="underline"><span>contact me</span></div>
		    </a>
		</div>
		<div class="f-red downnright onlytc">
		    <p>let's create<br /> beautiful interactive<br />experiences<br />from start to finish</p>
		</div>
		<div class="f-pattern onlytc"></div>
		<div class="f-socials onlytc">
		    <nav>
			<span>social love</span>
			<a href="https://twitter.com/iamargu" class="sprite tw external" title="follow me">twitter</a>
			<a href="callto://+919971810149" class="sprite sk external" title="skype me">skype</a>
			<a href="https://www.linkedin.com/" class="sprite in external" title="connect with me">in</a>
		    </nav>
		</div>
		
	    </section>
	    	    
	    <!--<div class="copyrights">-->
		<!--Copyright © Youandigraphics 2014-17. All rights reserved-->
	    <!--</div>-->
	    
	</div>
	
	<div class="overlay">
	    <div class="gallery">
		    <a class="sprite close" href="#" title="Click to close">close</a>
		    <div class="scrollWrapper"></div>
	    </div>
	</div>
	
		
	<script src="{% static '/css/index.min.css'%}"></script>
	
	<!--<script type="text/javascript">-->
	<!---->
	  <!--var _gaq = _gaq || [];-->
	  <!--_gaq.push(['_setAccount', 'UA-18790289-1']);-->
	  <!--_gaq.push(['_trackPageview']);-->
	<!---->
	  <!--(function() {-->
	    <!--var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;-->
	    <!--ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
	    <!--var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);-->
	  <!--})();-->
	<!---->
	<!--</script>-->
    </body>
</html>